<section id="instruction text-white">
  <div class="background-media">

    <div fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%" fxLayoutAlign="center flex-end" style="height: 100vh;">
      <div class="text-white">
        <h1 class="light super">LAMBDA</h1>
        <h3 class="bigger light">The most powerful app ever <br> made. Buy it now!</h3>
        <button mat-button>Iphone</button>
        <button mat-button>Android</button>

      </div>
    </div>

    <div fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%" fxLayoutAlign="center start " style="height: 100vh;">
      <div style="height: 80vh;">
        <img src="/assets/images/phone.png" height="100%" class="">
      </div>
    </div>
  </div>
</section>
