// @import '~@angular/material/theming';

// $angular9-primary: mat-palette($mat-indigo);
// $angular9-accent: mat-palette($mat-pink, A200, A100, A400);
// $angular9-warn: mat-palette($mat-red);
// $angular9-theme: mat-light-theme($angular9-primary, $angular9-accent, $angular9-warn);
// @include angular-material-theme($angular9-theme);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

app-top-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.mat-toolbar {
  background: transparent;
}

.text-white {
  color: #fff;
}

.mx-2 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.light {
  font-weight: 300 !important;
}

.super {
  margin-bottom: 0;
  font-size: 60px;
}

.bigger {
  font-size: 48px;
}

.rounded {
  border-radius: 25px !important;
}
